nav {
  height: 6rem;
  font-size: 1.8rem;
  padding: 2rem;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

nav > ul {
  float: right;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  float: left;
  list-style: none;
  margin-left: 5rem;
}

nav a {
  color: #1d1d1d;
  text-decoration: none;
  padding-bottom: 0.2rem;
}

nav a:visited {
  color: #1d1d1d;
}

nav a:hover {
  border-bottom: 1px solid #bebebe;
}

main {
  width: 100%;
  min-height: 100vh;
}

main > .logo {
  width: 100%;
  height: 100vh;

  background-image: url(images/Logoubaggrund.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  text-align: center;
  padding: 1rem 0 5rem;
}

.footer img {
  width: 5rem;
  height: 5rem;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

.footer img:hover {
  opacity: 1;
}
