footer {
  text-align: center;
  padding: 1rem 0 12rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  margin: 0 1rem;
  text-decoration: none;
}

footer img {
  width: 4rem;
  height: 4rem;
  opacity: 0.3;
  transition: opacity 0.2s ease-out;
}

footer img:hover {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  footer img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media print {
  footer {
    display: none;
  }
}
