nav {
  font-size: 2.5rem;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  line-height: 3rem;
  padding: 4rem 0 2rem;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100rem;
  margin: 0 auto;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

nav > ul {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
}

nav > ul > li {
  float: left;
  list-style: none;
  margin-left: 4rem;
  transform: scaleY(1);
  transform-origin: top;
}

nav.show-dropdown > ul > li {
  transform: scaleY(0);
}

nav a {
  color: #1d1d1d;
  text-decoration: none;
  padding: 0 0.6rem 0.2rem;
}

nav a:visited {
  color: #1d1d1d;
}

nav a:hover {
  border-bottom: 1px solid #bebebe;
}

nav .nav-toggle {
  display: none;
}

nav .dropdown-menu {
  display: block;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  transform-origin: bottom;
  transform: scaleY(0);
}

nav.show-dropdown .dropdown-menu {
  transform: scaleY(1);
}

nav .dropdown-menu li {
  list-style: none;
  float: left;
  padding-left: 1rem;
}

@media screen and (max-width: 1000px) {
  nav {
    background: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    pointer-events: none;
  }

  nav.open {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    pointer-events: all;
  }

  nav > ul {
    float: none;
    display: block;
    padding: 0;
    opacity: 0;
    position: relative;
    top: 40vh;
    transform: translateY(-65%);
    transition: all 0.2s ease-out;
  }

  nav.open > ul {
    opacity: 1;
    transform: translateY(-50%);
  }

  nav > ul > li {
    float: none;
    margin: 1rem 0;
    text-align: center;
  }

  nav .nav-toggle {
    display: block;
    position: absolute;
    background-image: url(/images/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    opacity: 0.5;
    outline: none;
    z-index: 1000;
    pointer-events: all;
  }

  nav.open .nav-toggle {
    background-image: url(/images/close.png);
    filter: none;
    opacity: 0.5 !important;
  }
}
