main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

body{
  background-image: url(/images/raat_papir3.png);
  background-size: auto 100vh;
  width: 100rem;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 100%;
}

.blomst1{
  position: absolute;
  width: 150px;
  z-index: -1;
  left: 0px;
  margin-top: -10rem;
  transform: rotate(-130deg);
}

.blomst1 img {
  width: 100%;
}

.blomst2{
  position: absolute;
  width: 150px;
  z-index: -1;
  bottom: -7rem;
  right: -19rem;
  transform: rotate(160deg) scaleX(-1);
}

.blomst2 img {
  width: 100%;
}

.blomst3{
  position: absolute;
  width: 150px;
  z-index: -1;
  bottom: -10rem;
  left: -20rem;
  transform: rotate(80deg) scaleX(-1);
}

.blomst3 img {
  width: 100%;
}

.contact {
  margin-top: 12rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 0.2rem 1rem 0px #ddd;
  border-radius: 0.2rem;
}

.details {
  width: 35%;
  padding: 8rem 5rem 0;
  background-color: #f8f7f3;
  text-align: center;
}

.details h1 {
  font-size: 3rem;
  margin: 10rem 0 2rem;
}

.details ul {
  padding: 0 0 8rem;
  margin: 0;
}

.details li {
  font-size: 2rem;
  list-style: none;
}

.image {
  width: 65%;
}

.image::after {
  display: block;
  content: "";
  padding-bottom: 100%;
  background-image: url(/images/Aufori-7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2{
  font-weight: normal;
  margin-top: 6rem;
  font-size: 1.3rem;
  text-align: center;
  padding-right: 2rem;
}

h2 > a {
  text-decoration: none;
  color: black;
}
h2 > a:hover {
  text-decoration: underline;
}

.soso{
  padding-top: 3rem;
}

.soso img{
  width: 16rem;
}

.auforilogo{
  padding-top: 5rem;
}

.auforilogo img{
  width: 20rem;
}

p{
  margin: 0 0 8rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  body {
    overflow: auto;
  }

  .blomster {
    display: none;
  }

  .contact {
    flex-direction: column;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .image {
    width: 100%;
  }

  .image::after {
    padding-bottom: 0;
    height: 45vh;
  }

  .details {
    width: 100%;
    padding: 5rem;
    background-color: transparent;
  }

  .details ul {
    padding: 0 0 4rem;
    margin: 0;
  }

  .details ul:last-child {
    padding: 0;
  }

  nav:not(.open) .nav-row > * {
    color:white ! important;
  }

  nav .nav-toggle {
    filter: invert(1);
  }

  .blomst2 {
    right: 20%;
    bottom: 30rem;
    transform: rotate(145deg) scaleX(-1);
  }

}

a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 630px) {
  .blomst2{
    left: 355px;
  }
}

@media screen and (max-width: 350px) {

  .details h1{
    font-size: 2.7rem;
  }

  .details li {
    font-size: 1.8rem;
  }

}
