@font-face {
  font-family: Music;
  src: url(/tekster/music-font.ttf);
}

main {
  padding-top: 8rem;
}

.column {
  display: grid;
  grid-template-columns: 1fr 40rem 1fr;
  margin: 4rem 0;
}

.column:first-child {
  margin-top: 10rem;
}

.text-track {
  grid-column: 2 / 4;
}

.column > .img-track > img {
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #ddd;
  margin: 3.8rem 3.8rem 0 0;
}

.column > .img-track {
  grid-column: 1;
  justify-self: end;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 2.2rem;
  transition: all .2s linear;
}

.text-track button {
  background-color: #f8f7f3;
  box-shadow: 0 0.2rem 1rem 0px #ddd;
  border: 0;
  outline: none;
  margin-right: 1rem;
}

.text-track button > img {
  height: 1.8rem;
}

.text-track.show .chord-container {
  height: 4.4rem;
}

.text-track.show .chord,
.text-track.show .chord-track {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.chord-container {
  display: inline-flex;
  flex-direction: column-reverse;
  position: relative;
  height: 2.2rem;
  transition: all .2s linear;
}

.chord {
  padding: 0 0.5rem;
  line-height: 2.2rem;
  background-color: #ddd;
  box-shadow: 0px 0px 10px 0px #ddd;
  position: absolute;
  top: 0;
  left: -50%;
  transition: all .2s linear;
  opacity: 0;
  transform: scale3d(1, 0, 1);
  transform-origin: top;
}

.chord.sharp::after {
  content: "G";
  font-family: Music;
}

.chord.flat::after {
  content: "H";
  font-family: Music;
}

.chord-track {
  display: flex;
  position: absolute;
  top: 0;
  left: -50%;
  transition: all .2s linear;
  opacity: 1;
  transform: scale3d(1, 0, 1);
  transform-origin: bottom;
}

.chord-track > .chord {
  position: static;
  margin-right: 0.5rem;
}

@media screen and (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0;
    padding: 0 5rem;
    display: block;
  }

  .column > .img-track {
    padding-bottom: 0;
  }

  .column > .img-track > img {
    position: static;
    margin: 4rem 0 0;
  }
}

@media screen and (max-width: 367px) {
  .column > .img-track > img {
    width: 100px;
    margin: 3rem 0 0;
  }
}
