@font-face {
  font-family: Music;
  src: url(/tekster/music-font.ttf);
}

body{
  background-image: url(/images/raat_papir3.png);
  background-size: auto 100vh;
}

main {
  padding-top: 8rem;
}

.column {
  display: grid;
  grid-template-columns: 1fr 40rem 1fr;
  margin: 4rem 0;
}

.column:first-child {
  margin-top: 10rem;
}

.text-track {
  grid-column: 2 / 4;
}

.column > .img-track > img {
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #ddd;
  margin: 3.8rem 3.8rem 0 0;
}

.column > .img-track {
  grid-column: 1;
  justify-self: end;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.text-track button {
  background-color: #f8f7f3;
  box-shadow: 0 0.2rem 1rem 0px #ddd;
  border: 0;
  outline: none;
  margin-right: 1rem;
}

.text-track button > img {
  height: 1.8rem;
}

@keyframes grow-container {
  0% {
    height: 2.2rem;
  }

  100% {
    height: 4.8rem;
  }
}

.text-track.show .chord-container {
  height: 4.8rem;
  animation: grow-container 0.2s ease-out;
}

.text-track.show p {
  margin: 2.5rem 0;
}

.text-track.show p.chord-container.independent {
  margin: 2.5rem 0 3rem;
}

.chord-container {
  display: inline-flex;
  flex-direction: column-reverse;
  position: relative;
  height: 2.2rem;
}

.chord-container.independent {
  display: none;
  height: 0;
}

.chord-container.independent .chord-track {
  position: static;
}

.text-track.show .chord-container.independent {
  height: 2.2rem;
  display: block;
}

/*p .chord-container {
  display: inline-flex;
  flex-direction: column-reverse;
  position: relative;
  height: 1rem;
  transition: all .2s ease-out;
}*/

.chord {
  user-select: none;
  padding: 0 0.5rem;
  line-height: 2rem;
  background-color: #ddd;
  box-shadow: 0px 0px 10px 0px #ddd;
  position: absolute;
  top: 0;
  left: -50%;
  white-space: nowrap;
  padding-top: 0.3em;
  min-height: 26px;
}

sup{
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.sharp::after {
  content: "G";
  font-family: Music;
}

.flat::after {
  content: "H";
  font-family: Music;
}

.chord-track {
  display: flex;
  position: absolute;
  top: 0;
  left: -50%;
  transition: all .2s ease-out;
  opacity: 1;
  transform: scale3d(1, 0, 1);
  transform-origin: bottom;
}

.chord-track > .chord {
  position: static;
  margin-right: 0.5rem;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0;
    padding: 0 5rem;
    display: block;
  }

  .column > .img-track {
    padding-bottom: 0;
  }

  .column > .img-track > img {
    position: static;
    margin: 4rem 0 0;
  }
}

@media screen and (max-width: 367px) {
  .column > .img-track > img {
    width: 100px;
    margin: 3rem 0 0;
  }
}
