main {
  padding-top: 8rem;
}

.column {
  width: 40rem;
  margin: 10rem auto 0;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.song-begin-play {
  background-color: #f8f7f3;
  box-shadow: 0 0.2rem 1rem 0px #ddd;
  border: 0;
  outline: none;
}

@media screen and (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0;
    padding: 0 5rem;
  }
}
