/*.concerts {
  width: 100%;
  margin-top: 10rem;
  font-size: 2rem;
}*/

main {
  padding-top: 8rem;
}

body {
	background-image: url(/images/raat_papir3.png);
	background-size: cover;
  width: 100rem;
  margin: 0 auto;
  font-size: 100%;
}

.koncert-container .head {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	height: 15em;
}

.koncert-container .head img {
	width: 150px;
	transform: rotate(270deg);
	margin-bottom: -11rem;
    margin-right: 4rem;
}

/*.art-container div img{
	height: 30rem;
	rotate: 90deg;
}*/

.koncert-container{
	padding: 2rem;
	/*background-color: rgba(69, 69, 69, .4);*/
	width: 900px;
	margin: auto;
	border-radius: 5px;
	font-family: Source Sans Pro, sans-serif;
}

.koncert-container p{
	margin: 0 0 10px 0;
	font-size: 4em;
}

.koncerttabel{
	margin: 0 auto;
	width: 850px;
	z-index: 1;
	/*background-color: orange;*/
	border-collapse: collapse;
	border-spacing: 0 0;
	margin-top: 2rem;
}


tr {
	height: 12rem;
	font-size: 1.8rem;
	border-top: 1px solid black;
}

tr:last-child {
	border-bottom: 1px solid black;
}

td {
	width: 25%;
	z-index: 10;
}

/*tr>td:first-child{
	width: 20%;
}*/

tr>td:nth-child(2) {
	text-align: center;
	padding-right: 10px;
}

tr>td:nth-child(3) {
	text-align: left;
	padding-left: 3rem;
	/*width: 30%;*/
}

.dato {
	background-color: #f3f4f6;
	border-radius: 10px;
	height: 7rem;
	width: 10rem;
	display: grid;
	font-size: 1.7rem;
	margin-left: 2rem;
	z-index: 10;
	color: black;
	box-shadow: 0px 0px 0px 2px #000000;
	text-shadow: none !important;
}

.oeverst {
	margin: 0 auto;
	align-self: end;
}

.nederst {
	margin: 0 auto;
}


.mereinfo a{
	display: block;
	text-decoration: none;
	color: black;
	letter-spacing: 0.1rem;
	font-size: 1.3rem;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	border: 2rem;
	border: 2px solid black;
	padding: 1.5rem 0;
	border-radius: 1px;
	text-shadow: none;
}

.mereinfo a:hover{
	background-color: white;
	box-shadow: -1px 9px 36px -20px rgba(0,0,0,0.45);
	color:black;

}

.mereinfo a:active {
	border: 1px;
}

.soon{
	padding-top: 5rem;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	color: gray;
}

/*///////////////////////////////////////////////////////////*/

@media screen and (max-width: 1000px) {
	main{
		padding-top: 0rem !important;
	}
}

@media screen and (max-width: 950px) {
  .art-container, .sensommertur{
  	width: 700px;
  }

  .koncert-container{
  	max-width: 650px;
  }

  .koncerttabel {
    width: 600px;
  }
  .dato{
  	font-size: 1.7rem;
  }
  tr {
  	font-size: 1.6rem;
  }
  .head p {
	  font-size: 3.5em;
  }
}

@media screen and (max-width: 700px) {
  .art-container, .sensommertur{
  	width: 400px;
  }

  .sensommertur{
  	margin-top: -10rem;
}

  .koncert-container{
  	max-width: 100%;
	margin: 0;
  }

  .koncerttabel {
    width: 100%;
  }
  .dato {
  	width: 9rem;
  	font-size: 1.5rem;
	margin-left: 10px;
  }
  tr {
  	font-size: 1.5rem;
  }

  .koncert-container .head {
	  height: 10rem;
	  padding: 0 7%;
  }

  .head p{
	  font-size: 3em;
  }

.koncert-container .head img {
	width: 90px;
	margin-bottom: -7rem;
    margin-right: 2rem;
  }
}


@media screen and (max-width: 500px) {

  .art-container, .sensommertur{
  	width: 300px;
  }

  .sensommertur {
  	margin-top: -10rem;
  }

  tr {
  	font-size: 1.4rem;
  	height: 10rem;
  }
.mereinfo a{
	width: 90%;
	padding: 0.8rem 0;
	font-size: 1.2rem;
}
  .dato {
  	width: 6.5rem;
  	font-size: 1.2rem;
  	height: 5.5rem;
  }
  tr>td:nth-child(2) {
	text-align: left;
}

.head p{
	font-size: 2.4em;
}

.koncert-container .head {
	height: 10em;
}

.koncert-container p {
	margin: 0;
}

.koncert-container .head img {
  width: 70px;
  margin-bottom: -7rem;
  margin: 0 0 -55px 0;
}

tr>td:nth-child(3) {
	padding-left: 2rem;
}
}

@media screen and (max-width: 500px) {
	tr {
		font-size: 1.2rem;
	}

	tr>td:nth-child(2) {
		text-align: center;
	}

	.koncert-container {
		padding: 1rem;
	}
}