/*.concerts {
  width: 100%;
  margin-top: 10rem;
  font-size: 2rem;
}*/

main {
  padding-top: 8rem;
}

body {
	background-image: url(/images/sortbaggrund.jpg);
	background-size: cover;
  width: 100rem;
  margin: 0 auto;
}

nav:not(.open) a {
	color:white ! important;
}

nav .nav-toggle {
	filter: invert(1);
}

.art-container{
	width: 950px;
	margin: 0 auto;
}

.sensommertur {
	position: absolute;
	display: grid;
	grid-template-rows: 2fr 4fr 2fr;
	grid-template-columns: 2fr 6fr 2fr;
	margin-top:-5rem;
	height: 31rem;
	width: 950px;
}

.sensommertur > div {
	z-index: 1;
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}

	25% {
		transform: rotateZ(5deg);
	}

	75% {
		transform: rotateZ(-5deg);
	}

	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes grow {
	0% {
		transform: rotateZ(0deg);
	}

	25% {
		transform: rotateZ(5deg);
	}

	75% {
		transform: rotateZ(-5deg);
	}

	100% {
		transform: rotateZ(0deg);
	}
}


.sol1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-image: url(/images/Blomst1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	transform-origin: center center;
	animation: grow 5s ease infinite;
	animation-duration: alternate;

}

.sol2 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	background-image: url(/images/Blomst2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	transform-origin: center center;
	animation: spin 7s linear reverse infinite;
}

.auforilogo {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background-image: url(/images/turlogo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.tourbadge {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	background-image: url(/images/Sensommertur.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.koncert-container{
	padding: 2rem;
	background-color: rgba(69, 69, 69, .4);
	width: 900px;
	margin: 32rem auto 0 auto;
	border-radius: 5px;
	box-shadow: 0 2px 20px 0px #1b1a1a;
}

.koncerttabel{
	margin: 0 auto;
	width: 850px;
	z-index: 1;
	/*background-color: orange;*/
	border-collapse: collapse;
	border-spacing: 0 0;
}


tr {
	height: 12rem;
	font-size: 1.6rem;
	border-top: 1px solid black;
}

tr:last-child {
	border-bottom: 1px solid black;
}

td {
	width: 25%;
	z-index: 10;
	color: white;
	text-shadow: 1px 1px 8px black;
	/*text-align: center;*/
}

/*tr>td:first-child{
	width: 20%;
}*/

tr>td:nth-child(2) {
	text-align: center;
}

tr>td:nth-child(3) {
	text-align: center;
	/*width: 30%;*/
}

.dato {
	background-color: #ffe478;
	border-radius: 10px;
	height: 7rem;
	width: 10rem;
	display: grid;
	font-size: 1.7rem;
	margin-left: 2rem;
	z-index: 10;
	color: black;
	box-shadow: -1px 2px 9px 2px #1d1c1c;
	text-shadow: none !important;
}

.oeverst {
	margin: 0 auto;
	align-self: end;
}

.nederst {
	margin: 0 auto;
}


.mereinfo a{
	display: block;
	text-decoration: none;
	color: white;
	letter-spacing: 0.1rem;
	font-size: 1.3rem;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	border: 2rem;
	border: 2px solid white;
	padding: 1.5rem 0;
	border-radius: 1px;
	text-shadow: none;
}

.mereinfo a:hover{
	border: 2px solid rgba(255, 255, 255, .3 );
	background-color: rgba(255, 255, 255, .8);
	box-shadow: -1px 9px 36px -20px rgba(0,0,0,0.45);
	color:black;

}

.mereinfo a:active {
	border: 1px;
}

/*///////////////////////////////////////////////////////////*/


@media screen and (max-width: 950px) {
  .art-container, .sensommertur{
  	width: 700px;
  }

  .koncert-container{
  	max-width: 650px;
  }

  .koncerttabel {
    max-width: 600px;
  }
  .dato{
  	font-size: 1.7rem;
  }
  tr {
  	font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .art-container, .sensommertur{
  	width: 400px;
  }

  .sensommertur{
  	margin-top: -10rem;
}

  .koncert-container{
  	max-width: 450px;
  	margin-top: 25rem;
  }

  .koncerttabel {
    max-width: 400px;
  }
  .dato {
  	width: 7rem;
  	font-size: 1.5rem;
  }
  tr {
  	font-size: 1.5rem;
  }
}


@media screen and (max-width: 450px) {

  .art-container, .sensommertur{
  	width: 300px;
  }

  .sensommertur {
  	margin-top: -10rem;
  }

  .koncert-container{
  	max-width: 300px;
  	margin-top: 25rem;
  }

  .koncerttabel {
    max-width: 270px;
  }

  tr {
  	font-size: 1.2rem;
  	height: 10rem;
  }
.mereinfo a{
	width: 100%;
	padding: 0.8rem 0;
	margin-left: 0;
}
  .dato {
  	width: 5rem;
  	font-size: 1.2rem;
  	margin-left: 0;
  	height: 5.5rem;
  }
  tr>td:nth-child(2) {
	text-align: left;
}
}
