html > body {
	font-size: 16px;
}

main {
	padding-top: 8rem;
}

body{
	background-image: url(/images/raat_papir3.png);
	background-size: auto 100vh;
	font-size: 100%;
}

.wrapper{
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

section {
	width: 110rem;
	margin: 0 auto;
	margin-top: 6rem;
	padding: 5rem 0;
	/*background-color: #384035;*/
	background: rgb(17,17,40);
	background: linear-gradient(0deg, rgba(17,17,40,1) 0%, rgba(50,52,48,1) 100%);
	box-shadow: inset 0px 2px 20px 5px #000000;
	border: 15px ridge #A45100;
	border-radius: 2px;
}

/*#384035; grønlig farve*/
/*#585858; grålig farve*/

.title{
	text-align: center;
	margin: 0 auto;
	color: #f9f9f9;
	font-size: 4rem;
	letter-spacing: 0.3rem;
	text-shadow: -1px 2px 2px #1f1d1d;
}

.diskografi{
	margin: 5rem auto;
	/*padding: 10rem 0;*/
	width: 900px;
	height: 900px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 3.5rem;
}

.runddans{
	background-image: url(/images/runddans.jpg);
}

.overflader{
	background-image: url(/images/overflader-album.jpg);
}

.stjernetraade{
	background-image: url(/images/stjernetraade.jpg);
}

.blaamaerker{
	background-image: url(/images/blaa-maerker.jpg);
}


.runddans, .overflader, .stjernetraade, .blaamaerker {
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0.2rem 1rem 0px #131212;
}


.runddans > .songlist {
	background-color: rgba(242,104,24, 0.8);
}

.overflader > .songlist {
	background-color: rgba(255,191,42, 0.8);
}

.stjernetraade > .songlist {
	background-color: rgba(248,226,111, 0.8);
}

.blaamaerker > .songlist {
	background-color: rgba(92,151,212, 0.8);
}

.songlist{
	z-index: 2;
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0px;
	padding-left: 1rem;
	transition: transform .3s;
	/*transition-delay: .02s 1s;*/
	transform: translateX(101%);
}

.runddans:hover .songlist,
.overflader:hover .songlist,
.stjernetraade:hover .songlist,
.blaamaerker:hover .songlist{
	transform: translateX(0%);
}

h1 {
	width: 50%;
	margin-top: 3rem;
	margin-left: 1.1rem;
	font-size: 3.2rem;
	white-space: nowrap;
}

h2 {
	margin: 0;
	margin-left: 1.2rem;
	margin-top: -3rem;
	font-size: 1.3rem;
	font-weight: normal;
}

.songs > ol {
	list-style-type: decimal;
	margin-left: 0rem;
}

.songs > ol > li {
	padding-left: .4rem;
	padding-top: .8rem;
	font-size: 2rem;
}



@media screen and (max-width: 1250px) {
	section{
	width: 900px;
	}

	.diskografi {
		width: 750px;
		height: 750px;
	}

	h1{
		font-size: 2.5rem;
		margin-top: 2rem;
	}

	h2 {
		margin-top: -2rem;
	}

	.songs > ol > li{
		font-size: 1.5rem;
	}

	.songs > ol {
		margin-left: -1rem;
	}

}

@media screen and (max-width: 1100px) {
	section{
	width: 800px;
	}

	.diskografi {
		width: 700px;
		height: 700px;
	}

	.title{
		font-size: 3.5rem;
	}

	h1{
		font-size: 2.4rem;
	}

	.songs > ol > li{
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 1000px) {
	section{
		margin-top: 0;
	}
}

@media screen and (max-width: 885px) {
	section{
	width: 600px;
	padding-top: 4rem;
	}
	.diskografi {
		width: 500px;
		height: 500px;
	}

	.title{
		font-size: 3rem;
	}

	h1{
		font-size: 1.7rem;
		margin-top: 1rem;
	}

	h2{
		margin: 0;
		margin-left: 1.2rem;
		margin-top: -1.3rem;
		font-size: .8rem;
		font-weight: normal;

	}

	.songs {
		margin-top: -1.2rem;
	}

	.songs > ol > li{
		font-size: 1rem;
		margin-left: -1rem;
	}

	li {
		padding-top: 0.5rem;
	}

}

@media screen and (max-width: 680px) {
	section{
	width: 500px;
	padding-top: 4rem;
	}
	.diskografi {
		width: 400px;
		height: 400px;
		margin: 3rem auto;
	}

	.title{
		font-size: 3rem;
	}

	h1{
		font-size: 1.3rem;
		margin-left: .4rem;
		margin-top: 1.1rem;
	}

	h2{
		margin: 0;
		margin-left: .4rem;
		margin-top: -1.3rem;
		font-size: .6rem;
		font-weight: normal;
		margin-bottom: 2rem;

	}

	.songs > ol > li{
		font-size: .75rem;
		margin-left: -1.8rem;
		margin-top: 3px;
		padding-top: 0rem;
	}
}

@media screen and (max-width: 550px) {
	section{
	width: 350px;
	padding-top: 4rem;
	}
	.diskografi {
		width: 225px;
		height: 1005px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-column-gap: 0;
	}

	.title{
		font-size: 3rem;
		padding-bottom: .5rem;
	}

	h1{
		font-size: 1.7rem;
		margin-top: 1.2rem;
	}

	h2{
		margin: 0;
		margin-left: .5rem;
		margin-top: -1.5rem;
		font-size: .8rem;
		font-weight: normal;
		margin-bottom: 2.5rem;

	}

	.songs {
		margin-left: .5rem;
	}

	.songs > ol > li{
		font-size: 1rem;
		margin-left: -2rem;
		margin-top: 5px;
	}
}

@media screen and (max-width: 450px) {
	section{
	width: 300px;
	padding-top: 4rem;
	}

	.title{
		font-size: 2.3rem;
		padding-bottom: .5rem;
	}
}