nav{
  position: relative !important;
}

body {
  background-image: url(/images/about_blaa.png);
  background-size: cover;
  background-position: center;
}

.container{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 2rem;
  height: 650px;
  margin-top: 3rem;
  padding: 2rem 0 0 2rem;
  background-image: url(/images/about_blaa.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0.2rem 20px 11px #080e21;
}

.infobox{
  box-sizing: border-box;
  width: 80%;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  color: #d4d4d4
  /*padding: 0 0 3rem 1rem;*/
}

.infobox2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 4rem;
  color: #d4d4d4;
}

p {
  font-size: 1.7rem;
}

.infobox p {
  font-size: 2rem;
}

.foto {
  background-image: url(/images/about_vi.png);
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  background-position: center;
  background-repeat: no-repeat;
}

nav:not(.open) a {
  color: #e4e4e4 ! important;
}

nav .nav-toggle {
  filter: invert(1);
}
