@-ms-viewport{
  width: device-width;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Source Serif Pro', serif;
  width: 100rem;
  margin: 0 auto;
  padding-bottom: 20rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body * {
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding: 1rem 0 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  margin: 0 1rem;
  text-decoration: none;
}

footer img {
  width: 5rem;
  height: 5rem;
  opacity: 0.3;
  transition: opacity 0.2s ease-out;
}

footer img:hover {
  opacity: 1;
}

main::after {
  display: table;
  clear: both;
  content: "";
}

@media screen and (max-width: 1000px) {
  body {
    width: 100%;
  }
}
