@-ms-viewport{
  width: device-width;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Source Serif Pro', serif;
  width: 100rem;
  margin: 0 auto;
  padding-bottom: 25rem;
  box-sizing: border-box;
  background-color: #fffffc;
}

html {
  font-size: 62.5%;
}

body * {
  box-sizing: border-box;
}

main::after {
  display: table;
  clear: both;
  content: "";
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  body {
    width: 100%;
  }
}
