main {
  width: 100%;
  min-height: 100vh;
}

main > .logo {
  width: 100%;
  height: 100vh;

  background-image: url(/images/logoubaggrund.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-image: url(/images/home_bg.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

nav a {
  color: white !important;
}
