main {
  width: 100%;
  min-height: 100vh;
}

main > .logo {
  width: 100%;
  height: 80vh;

  background-image: url(images/Logoubaggrund.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
